<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link href="../css/style.css" rel="style" type="text/css" /> -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div class="container">
        <section class="header">
            <h1>This is Header part</h1>
        </section>
        <section class="">
            <div>
                This is Body part
            </div>
        </section>
        <footer class="footer">
            This is footer part
        </footer>
    </div>
</body>
</html>